body {
  font-family: 'News Cycle', sans-serif;
}

.project {
  height: 400px;
  width: 400px;
  padding: 1em;
  -webkit-box-shadow: 6px 5px 5px 0px rgba(0,0,0,0.37);
  -moz-box-shadow: 6px 5px 5px 0px rgba(0,0,0,0.37);
  box-shadow: 6px 5px 5px 0px rgba(0,0,0,0.37);
}

.gallery {
  display: flex;
  flex-direction: row;
  margin: 2em;
}

.info {
  // border-top: 1px solid black;
  display: flex;
}

h2 {
  margin: 1em;
  font-family: SignPainter-HouseScript;
}

.profile {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: solid 1px black;
  float: right;
  margin: 2em;
}

.about p {
  margin: 2em;
}

.process {
  display: flex;
  justify-content: space-between;
  margin: 2em;
}
