body {
  font-family: 'News Cycle', sans-serif;
  background-color: whitesmoke;
}

.badges {
  width: 4em;
  height: 4em;
  border-radius: 50%;

}

h2  {
  text-align: center;
  font-family: SignPainter-HouseScript;
}

.container {
  display: flex;
  flex-direction: row;
  margin:4em;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 1;
}

.category {
  padding: 1em;
  margin: 3em;
  // border: 1px solid black;
  text-align: center;
}

.about {
  text-align: center;
  padding: 3em;
}

.bio {
  height: 6em;
  width: 6em;
  border: 1px solid black;
  border-radius: 50%;
}

.about a {
  color: #7a1300;
  font-weight: bold;
}

.recent-work a {
  color: #7a1300;
  font-weight: bold;
}

.gallery-img {
  height: 25em;
  width: 100%;
}

.recent-work {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 3em;
  margin-right: 1em;
  align-content: center;
  padding: 1em;
}

.contact-form {
  text-align: center;
  margin-top: 3em;
}
