// .social-media img {
//   height: 50px;
//   width: 50px;
//   padding: 5px;
// }


.develop {
  display: flex;
  justify-content: center;
  // margin: 2em;
  img {
    height: 150px;
    width: 150px;
  }

}
