html,body {
  padding:0; margin:0;
}

img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.header-image {
  background-image: url('img/DWLWL9USBG.png');
  background-position: center;
  background-size: cover;
  height: 50vh;
  position: relative;
  margin: 0;
}

h2.tagline {
  position: absolute;
  transform: translateY(-50%);
  transform: translateX(-50%);
  padding: 3rem;
    top: 50%;
    transform: translateY(-50%);
    font-family: SignPainter-HouseScript;
    font-size: 36px;
    color: #FFFFFF;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
}

.name {
  font-family: SignPainter-HouseScript;
  font-size: 48px;
  color: #FFFFFF;
  text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
  position: absolute;
  top: 40%;
  left: 2em;
}

.go {
  text-align: center;
  font-family: SignPainter-HouseScript;
}

nav a {
    position: relative;
    display: inline-block;
    margin: 15px 25px;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000;
    font-size: 1.35em;
    font-weight: bold;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
}

.go a:before,
.go a:after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

.go a:before {
    margin-right: 10px;
    content: '\2702';
    -webkit-transform: translate(20px);
    -moz-transform: translate(20px);
    transform: translate(20px);
}

.go a:after {
    margin-left: 10px;
    content: '\2711';
    -webkit-transform: translate(-20px);
    -moz-transform: translate(-20px);
    transform: translate(-20px);
}

.go a:hover:before,
.go a:hover:after,
.go a:focus:before,
.go a:focus:after {
    opacity: 1;
    -webkit-transform: translate(0px);
    -moz-transform: translate(0px);
    transform: translate(0px);
}
