* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'News Cycle', sans-serif; }

.header {
  background-image: url("../img/DWLWL9USBG.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  height: 100vh;
  position: relative; }

.item1, .item2, .item3 {
  opacity: 0.5;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }

.item1:hover {
  opacity: 1; }
  .item1:hover p {
    visibility: hidden; }

.item2:hover {
  opacity: 1; }
  .item2:hover p {
    visibility: hidden; }

.item3:hover {
  opacity: 1; }
  .item3:hover p {
    visibility: hidden; }

.gallery {
  display: flex;
  flex-direction: column; }

.gallery-top {
  display: flex; }

.gallery-image {
  height: 300px;
  background-size: cover; }

.item1 {
  background-image: url("../img/main-page.png");
  position: relative; }

.item2 {
  background-image: url("../img/candlelight.jpg");
  position: relative; }

.item3 {
  background-image: url("../img/speakeasy.jpg");
  position: relative; }

.large {
  flex-grow: 2; }

.small {
  flex-grow: 1; }

.gallery p {
  color: white;
  position: absolute;
  top: 75%;
  left: 5%;
  font-weight: bold;
  color: #940C00;
  font-size: 1.5em; }

.info {
  display: flex; }

h2 {
  margin: 1em;
  font-family: SignPainter-HouseScript; }

.profile {
  height: 225px;
  width: 225px;
  border-radius: 50%;
  border: solid 1px black;
  margin: 3em; }

.about p {
  width: 800px;
  margin: 2em;
  padding-top: 3em; }

.about {
  display: flex;
  justify-content: space-around;
  background-color: #940C00;
  font-size: 1.5em; }

.process {
  display: flex;
  justify-content: center; }

.steps {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin-top: 5em; }

.icons {
  height: 100px;
  width: 100px;
  transform: scale(1);
  transition: transform .2s ease-in-out;
  justify-content: center; }

.icons:hover {
  transform: scale(2); }

.steps img {
  display: flex;
  justify-content: center; }

.steps h2 {
  padding-top: 2em;
  text-align: center; }

.steps p {
  text-align: center; }

html, body {
  padding: 0;
  margin: 0; }

.name {
  display: flex;
  justify-content: center;
  font-family: SignPainter-HouseScript;
  font-size: 5em;
  color: white;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%); }

.lips {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  margin: 1em; }

.logo {
  width: 7em; }

.title {
  text-align: center;
  color: white;
  position: absolute;
  top: 55%;
  left: 48%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  font-size: 2.5em; }

.social-media img {
  height: 50px;
  width: 50px;
  padding: 5px; }

.contact {
  display: flex;
  justify-content: center;
  margin: 2em; }
  .contact h2 {
    font-size: 2.5em; }
  .contact a {
    color: inherit; }

.contact-icons {
  display: flex;
  justify-content: center; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'News Cycle', sans-serif; }

.header {
  background-image: url("../img/DWLWL9USBG.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  height: 100vh;
  position: relative; }

.item1, .item2, .item3 {
  opacity: 0.5;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }

.item1:hover {
  opacity: 1; }
  .item1:hover p {
    visibility: hidden; }

.item2:hover {
  opacity: 1; }
  .item2:hover p {
    visibility: hidden; }

.item3:hover {
  opacity: 1; }
  .item3:hover p {
    visibility: hidden; }

.gallery {
  display: flex;
  flex-direction: column; }

.gallery-top {
  display: flex; }

.gallery-image {
  height: 300px;
  background-size: cover; }

.item1 {
  background-image: url("../img/main-page.png");
  position: relative; }

.item2 {
  background-image: url("../img/candlelight.jpg");
  position: relative; }

.item3 {
  background-image: url("../img/speakeasy.jpg");
  position: relative; }

.large {
  flex-grow: 2; }

.small {
  flex-grow: 1; }

.gallery p {
  color: white;
  position: absolute;
  top: 75%;
  left: 5%;
  font-weight: bold;
  color: #940C00;
  font-size: 1.5em; }

.info {
  display: flex; }

h2 {
  margin: 1em;
  font-family: SignPainter-HouseScript; }

.profile {
  height: 225px;
  width: 225px;
  border-radius: 50%;
  border: solid 1px black;
  margin: 3em; }

.about p {
  width: 800px;
  margin: 2em;
  padding-top: 3em; }

.about {
  display: flex;
  justify-content: space-around;
  background-color: #940C00;
  font-size: 1.5em; }

.process {
  display: flex;
  justify-content: center; }

.steps {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin-top: 5em; }

.icons {
  height: 100px;
  width: 100px;
  transform: scale(1);
  transition: transform .2s ease-in-out;
  justify-content: center; }

.icons:hover {
  transform: scale(2); }

.steps img {
  display: flex;
  justify-content: center; }

.steps h2 {
  padding-top: 2em;
  text-align: center; }

.steps p {
  text-align: center; }

html, body {
  padding: 0;
  margin: 0; }

.name {
  display: flex;
  justify-content: center;
  font-family: SignPainter-HouseScript;
  font-size: 5em;
  color: white;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%); }

.lips {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  margin: 1em; }

.logo {
  width: 7em; }

.title {
  text-align: center;
  color: white;
  position: absolute;
  top: 55%;
  left: 48%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  font-size: 2.5em; }

.social-media img {
  height: 50px;
  width: 50px;
  padding: 5px; }

.contact {
  display: flex;
  justify-content: center;
  margin: 2em; }
  .contact h2 {
    font-size: 2.5em; }
  .contact a {
    color: inherit; }

.contact-icons {
  display: flex;
  justify-content: center; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*# sourceMappingURL=styles.css.map */
